h1, h2 {
    font-family: "Quaaykop";
    font-weight: bold;
}
h1 {
    color: #007A7B;
    text-align: center;
    vertical-align: middle;    
    border-radius: 6.25rem;
    background-color: #EAD9C7;
    padding: .938rem 3.125rem;
    display:inline-block;
    margin-bottom: 3.125rem;
    align-items: center;
}
.asociados-cheappills{
    color: #003F5A;    
}
p {
    font-family: "Sanlulus";
}
.p-nosotros {
    text-align: justify;
    margin-left:20px;
    margin-right:20px;
}
.p-vision {
    text-align:left;
    margin-left:20px;
    margin-right:100px;
}
.p-valores {
    text-align:right;
    margin-right:20px;
    margin-left:100px;
}
.span-bold {
    font-weight:bold;
}
.span-hl {
    color:#007A7B;
}