h1, h3 {
    font-family: "Quaaykop";
    font-weight: bold;
}
h1 {
    font-size:2.3em;
    color: #FEA02F;
    text-align: center;
    border: .938rem solid #EAD9C7;
    border-radius: 3.125rem;
    padding: .625rem;
    vertical-align: middle;
    margin-left:2vw;
    margin-right:2vw;
}
h3 {
    font-size:1.6em;
    color: #003F5A;
    text-align: center;
}
h2 {
    font-size:1.9em;
    color: #007A7B;
    text-align: center;
    border-radius: 6.25rem;
    background-color: #EAD9C7;
    padding: .938rem 3.125rem;
    display:inline-block;
    margin-bottom: 3.125rem;
    align-items: center;
    margin-left:2vw;
    margin-right:2vw;
}
p {
    font-size:1.2em;
    font-family: "Sanlulus";
}
.titulos-align{
    display:flex;
    justify-content: center;
}
.major-container-catalogue-slidebar{
    background-color:#EAD9C7;
    border-radius: 2vw;
    margin-left: 2vw;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
}
.catalogue-slidebar-info {
    color:#003F5A;
    font-family: "Sanlulus";
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    display:block;
    padding:1vw 1.5vw 1vw 1.5vw;
    margin:0;
}
.catalogue-slidebar-info:hover {
    color:#EAD9C7;
    font-family: "Sanlulus";
    background-color: #003F5A;
    border-radius:3vw;
}
.carousel-slidebar-container {
    display: flex;
    flex-direction: row;
}
.major-container-carousel{
    display: flex;
    justify-content: center;
}
.container-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    max-width: 70%;
    height: 30%;
    border: .3rem solid #EAD9C7;
    position: relative;;
    overflow: hidden;
}
.container-carousel ul {
    display:flex;
    padding:0;
    width:250;
    animation: slide 5s infinite alternate ease-in-out;
}
.container-carousel li {
    width:100%;
    list-style:none;
    position:relative;
}
@keyframes slide {
    0%: {margin-left: 0;}
    20%: {margin-left: 0;}

    25%: {margin-left: -100%;}
    40%: {margin-left: -100%;}

    50%: {margin-left: -100%;}
    70%: {margin-left: -100%;}

    75%: {margin-left: -100%;}
    100%: {<margin-left :(-300%)>;}
}