h1, h3 {
    font-family: "Quaaykop";
    font-weight: bold;
}
h1 {
    font-size:2.3em;
    color: #FEA02F;
    text-align: center;
    border: .938rem solid #EAD9C7;
    border-radius: 3.125rem;
    padding: .625rem;
    vertical-align: middle;
}
h3 {
    font-size:1.6em;
    color: #003F5A;
    text-align: center;
}
h2 {
    font-size:1.9em;
    color: #007A7B;
    text-align: center;
    border-radius: 6.25rem;
    background-color: #EAD9C7;
    padding: .938rem 3.125rem;
    display:inline-block;
    margin-bottom: 3.125rem;
    align-items: center;
}
p {
    font-size:1.2em;
    font-family: "Sanlulus";
}
.titulos-align{
    display:flex;
    justify-content: center;
}