header {
    background-image:linear-gradient(#EAD9C7,white);
    font-family:"Quaaykop";
    font-weight:bold;
}
.contenedorlogos{
    width:100%;
    max-width:200px;
}
.logo {
    max-width:200px;
    height:auto;
}

