body{
    margin:0;
}
header {
    background-image : linear-gradient(#EAD9C7,white);
    font-family : "Quaaykop";
    font-weight : bold;
    width: 100%;
    height: 9.375rem;
    margin-bottom: 60;
}
.AAAA {
    background-color : transparent;
    font-family : "Quaaykop";
    border: none;
    float: right;
    margin-top:1.1rem;
    margin-right:3.0rem;
    vertical-align: bottom;
    text-align: right;
}
.contenedorlogos {
    width: 11.25rem;
    height: auto;
}
.logo {
    width: 100%;
    height: auto;
    margin: 0.938rem;
}
.NBheader {
    width:25%;
    border-radius: 35px;
    background-color: #003F5A ;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: absolute;
    left: 82.5%;
    top: 14%;
    transform: translate(-50% , -50%);
}   
.topnav a {
    text-decoration: none;
    color:#EAD9C7;
}
.topnav a:hover {
    color: #FEA02F;
}
.topnav li {
    color:#EAD9C7;
    display: block;
    padding: 1vw;
    margin-right: 1.3vw;
    margin-left: 1.3vw;
    float: left;
    text-align: center;
}
.fs1{
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}
.fs2{
    font-size: 1.75rem;
    color: #000;
    text-decoration: none;
}
.fs3{
    font-size: 2rem;
    color: #000;
    text-decoration: none;
}